body{
    background-color: white;
}
h1{
color: black;
text-align: center;
}

h2{
color: rgb(227, 231, 12);
text-align: center;

}
div {
width: 300px;
border: 15px yellow;
padding: 50px;
margin: 20px;

}

h3{
color: black;
text-align: center;

}